""" Contains modules for accessing the API """

from . import (
{% for endpoint in endpoint_collection.endpoints %}
{% set endpoint_identifier = python_identifier(endpoint.name) %}
    {{ endpoint_identifier }},
{% endfor %}
)

class {{ class_name(endpoint_collection.tag) }}:
    {% for endpoint in endpoint_collection.endpoints %}
    {% set endpoint_identifier = python_identifier(endpoint.name) %}
    {{ endpoint_identifier }} = {{ endpoint_identifier }}
    {% endfor %}

__all__ = "{{ class_name(endpoint_collection.tag) }}"
